@charset "UTF-8";

//공통사용 텍스트 스타일 정의
@for $title from 20 through 60 {
	$size: $title;

	.common-title {
		&--#{$size} {
			font-size: rem($size);
			line-height: 1.3;
		}
	}
}

@for $text from 10 through 19 {
	$size: $text;

	.common-text {
		&--#{$size} {
			font-size: rem($size);
		}
	}
}

.main-tit {
	font-size: rem(40);
	font-weight: bold;
	letter-spacing: letterSpacing(-25);
	color: #111;
	text-align: center;
	@include mdq-max(lg) {
		font-size: rem(26);
	}
}

.main-txt {
	font-size: rem(24);
	font-weight: 400;
	letter-spacing: letterSpacing(-25);
	color: #767677;
	text-align: center;
	@include mdq-max(lg) {
		font-size: rem(20);
	}
}

.sub-tit {
	font-size: rem(34);
	font-weight: bold;
	letter-spacing: letterSpacing(-25);
	color: #111;
	text-align: center;
	@include mdq-max(lg) {
		font-size: rem(26);
	}
}

.sub-txt {
	font-size: rem(38);
	font-weight: 500;
	letter-spacing: letterSpacing(-25);
	color: #111;
	text-align: center;
	@include mdq-max(lg) {
		font-size: rem(20);
	}
}

.sub-txt2 {
	font-size: rem(30);
	font-weight: 500;
	letter-spacing: letterSpacing(-25);
	color: #111;
	text-align: center;
	@include mdq-max(lg) {
		font-size: rem(20);
	}
}

.sub-txt3 {
	font-size: rem(22);
	font-weight: 400;
	letter-spacing: letterSpacing(-25);
	color: #333;
	text-align: center;
	@include mdq-max(lg) {
		font-size: rem(18);
	}
}
